.card-list{
  list-style-type: none;
  }

.main-container{
  padding: 5px 30px  0 20px;

  margin: auto;
  width: 30vw;
  height: fit-content;
  border-radius: 30px;
}
.center-line{
  text-align: center;
}

