.card-list{
  list-style-type: none;
  border: solid #629;
  flex-direction: row;
  }

.main-container{
  padding: 5px 30px  0 20px;

  margin: auto;
  width: 30vw;
  height: fit-content;
  border-radius: 30px;
}
.center-line{
  text-align: center;
}

.main {
  position: fixed;
}

img {
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  // z-index: -2;
}
