<div class="w-72 p-3 rounded-2xl bg-gray-800 text-white flex items-center space-x-3 shadow-lg">
  <z-button 
    (click)="togglePlay()" 
    class="w-10 h-10 rounded-full bg-accent flex items-center justify-center">
    {{ isPlaying ? '⏸' : '▶' }}
  </z-button>

  <div class="flex-1">
    <input 
      type="range" 
      [value]="currentTime" 
      [max]="duration" 
      step="1"
      (input)="seek($event)"
      class="w-full accent-accent" 
    />

  <div class="flex items-center space-x-2 w-20">
    <span class="text-xs">🔊</span>
    <input 
      type="range" 
      min="0" max="1" step="0.01"
      [value]="volume"
      (input)="changeVolume($event)"
      class="w-full accent-accent"
    />
  </div>

  
    <div class="text-xs text-gray-300 mt-1 flex justify-between">
      <span>{{ formatTime(currentTime) }}</span>
      <span>{{ formatTime(duration) }}</span>
    </div>
  </div>
</div>