<article class="empty-state">
  <!-- Ícone -->
  <div
    class="w-16 h-16 flex items-center justify-center mx-auto rounded-full bg-gray-100"
  >
    <svg
      class="w-8 h-8 text-gray-400"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 13h6m2 6H7a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2z"
      />
    </svg>
  </div>

  <!-- Título -->
  <h2 class="mt-2 text-lg font-semibold text-gray-700">
    {{ title }}
  </h2>

  <!-- Subtexto -->
  <p class="mt-2 text-sm text-gray-500 max-w-sm mx-auto">
    {{ description }}
  </p>

  <!-- Botão opcional -->
  @if(actionLabel){
  <z-button
    (click)="onActionClick()"
    class="mt-6 px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded-lg shadow hover:bg-blue-600 transition"
  >
    {{ actionLabel }}
  </z-button>

  }
</article>
